/venv
notes.txt
.env
/myenv
__pycache__/tutorai.cpython-311.pyc
/node_modules
/backend/__pycache__
/backend/node_modules
tempCodeRunnerFile.py
/testdb
=======
.env
/myenv
notes.txt
/myvenv
upload_textbook.py
Psychology2e.pdf
/frontend-react/dist
/backend/app.log